 /*start navbar*/
 .navbar-light .navbar-nav .active .nav-link {
     color: var(--maincolor);
 }

 /*end navbar*/

 /*start bgfixed-pic*/
 .bgfixed-pic {
     background: url('../images/cover-img-1.jpg');
     background-size: cover;
     height: 24rem;
     margin-bottom: 6.5rem;
 }

 .bgfixed-pic h3 {
     font-weight: 550;
     line-height: 1.8
 }

 .bgfixed-pic a:not(:last-of-type) {
     color: var(--maincolor);
     background: none;
     text-decoration: none;
     padding-right: .5rem;
 }

 .bgfixed-pic a:last-of-type,
 .bgfixed-pic a:last-of-type:hover {
     color: black;
     background: none;
     border: none;
     padding-left: .5rem;
 }

 /*end bgfixed-pic*/

 /*start small-pics*/

 .first-h6 {
     color: var(--maincolor);
 }

 /*end small-pics*/

 /*start pic-group2*/
 .pic-group2 {
     margin-bottom: 3.5rem;
 }

 .small-pics h6 {
     border: 1px solid #f0f3f7;


 }

 .small-pics hr {
     width: 30%;
     border-top: 1px solid #e5e5e8;
 }

 .small-pics .row1 p {
     font-size: .9rem;

 }

 .small-pics .row1 p:not(:first-child) {
     padding-left: 5.3rem
 }

 .small-pics .row2 h6 {
     border: none;
     background: #f0f0f0;
     padding: 1rem 2rem;


 }

 .small-pics .row2 .col-5 {
     padding-right: 0;
     margin-bottom: .25rem
 }

 .small-pics .row3 h6 {
     border: none;
     padding: 2rem;
     padding-left: 3rem;

 }

 .small-pics .row3 span.close-icon {
     padding: .3rem .5rem;
     background: #f0f0f0;
     cursor: pointer
 }

 .small-pics hr.special-hr {
     width: 100%;
 }

 /*end pic-group2*/

 /*start apply-coupon*/
 .apply-coupon {
     margin-bottom: 6rem;
 }

 .apply-coupon input {
     border: 1px solid #f0f0f0;

 }

 .apply-coupon input.form-control {
     font-size: .75rem;
     padding: 1.3rem;
 }

 .apply-coupon a.form-control {
     padding: 1.3rem;
     line-height: .3rem;
     background: var(--maincolor);

 }

 .apply-coupon .total {
     background: ;

 }

 .apply-coupon .total .inner-total {
     background: #f5f5f5;
     padding: 1.5rem 2rem;
     margin-top: -1rem;
 }

 .apply-coupon hr {

     border-top: .12rem solid var(--maincolor)
 }

 .result {
     color: var(--maincolor);
 }

 /*end apply-coupon*/

 /*start bottom-right-button*/
 .bottom-right-button {
     left: 95.5%;
 }

 /*end bottom-right-button*/

 /*start media query lg screen*/
 @media only screen and (max-width: 1199px) and (min-width: 992px) {

     .apply-coupon a.text-white {
         padding: .4rem;
         line-height: 1.5;
     }

     .apply-coupon span:not(.result) {
         color: #595959 !important;

     }

     .apply-coupon span {
         font-size: .9rem;
     }

     .apply-coupon .total {
         padding: .5rem !important;
     }

     .bottom-right-button {
         left: 92%;
     }

 }

 /*start media query lg screen*/

 /*start media query md screen*/
 @media only screen and (max-width: 991px) and (min-width: 768px) {
     .navbar {
         padding-bottom: 1.5rem;
     }

     .apply-coupon .total .inner-total {
         margin-left: -3.9rem;
         width: 100%;
     }

     .container.text-center.mb-4 {
         margin-top: -2rem;
     }

     .footer-bottom i.fab {
         padding-right: 1.5rem;
     }

     .footer-bottom .last {
         padding-right: .25rem
     }

     .bottom-right-button {
         left: 90%;
     }
 }

 /*end media query md screen*/

 /*start media query sm screen*/
 @media only screen and (max-width: 767px) and (min-width: 576px) {

     .navbar {
         padding-bottom: 1.5rem;
     }

     .bgfixed-pic {
         margin-top: 0;
     }

     .small-pics .row1 p:not(:first-child) {
         padding-left: .3rem;
     }

     .small-pics .row2 h6 {
         padding: 1rem .5rem;
     }

     .col-7.pt-3.clearfix {
         padding-top: 0 !important;
         padding-left: 0;
     }

     .apply-coupon .total .inner-total {
         width: 100%;
         margin-left: -2.8rem;
     }

     input.form-control {
         margin-left: -1.5rem;
     }

     .footer-bottom i.fab {
         padding-right: 1.5rem;
     }

     .footer-bottom .last {
         padding-right: .25rem
     }

     .bottom-right-button {
         left: 87%;
     }
 }

 /*end media query sm screen*/

 /*start media query xs screen*/
 @media only screen and (max-width: 575px) {
     .bgfixed-pic {
         margin-top: 0;
     }

     h6.p-2.p-md-4.p-lg-5 {
         padding: 1rem !important;
     }

     .small-pics .row1 p:not(:first-child) {
         padding-left: 3.3rem;
     }

     .small-pics .row1 p {
         font-size: .7rem;
     }

     .small-pics .row2 {
         margin-right: 0;
     }

     .small-pics .row3 .col-5 h6 {
         padding-top: 2.5rem;
     }

     .small-pics .row3 .col-7 {
         padding-left: 0;
     }

     .small-pics .row2 h6 {
         padding: 1rem 1.2rem;
         font-size: .8rem;
     }

     .small-pics .row3 h6 {

         padding-left: 1.7rem;
     }

     .apply-coupon .form-control {
         width: 100%;
     }

     .pic-group2 .text-black-50 {
         font-size: .85rem;
     }

     .pic-group2 .rel-pos:hover ul {
         display: none;
     }

     .footer .footer-top input.special-width {
         width: 16rem;
     }

     .footer-bottom {
         padding-left: 2rem;
     }

     .footer-bottom i {
         padding: .9rem;
     }

     .footer-bottom i.last {
         padding: .3rem;

     }

     .bottom-right-button {
         left: 87%;
     }
 }

 /*end media query xs screen*/


 @media only screen and (width: 414px) {
     h6.p-2.p-md-4.p-lg-5.d-inline-block.rounded-circle {
         padding: .5rem !important;
     }

     .small-pics .row2 h6 {
         padding: 1rem .8rem;
     }

     span.px-4.py-2.border {
         padding-left: .5rem !important;
         padding-right: .5rem !important;
     }

     .small-pics .row3 .col-5 h6 {
         padding-top: 3rem;
     }

     .pic-group2 .text-black-50 {
         font-size: .65rem;
     }

     .bottom-right-button {
         left: 83%;
     }
 }

 @media only screen and (width: 411px) {
     input.special-width {
         width: 14rem;
     }

     h6.p-2.p-md-4.p-lg-5.d-inline-block.rounded-circle {
         padding: .5rem !important;
     }

     span.px-4.py-2.border {
         padding-left: .5rem !important;
         padding-right: .5rem !important;
     }

     .small-pics .row2 h6 {
         padding: 1rem .8rem;
     }

     .pic-group2 .text-black-50 {
         font-size: .65rem;
     }

     .small-pics .row3 .col-5 h6 {
         padding-top: 3rem;
     }

     .footer .footer-top input.special-width {
         width: 14rem;
     }

     .bottom-right-button {
         left: 81%;
     }
 }

 @media only screen and (width: 375px) {
     h6.p-2.p-md-4.p-lg-5 {
         padding: 0;
     }

     h6.p-2.p-md-4.p-lg-5 {
         padding: .5rem !important;
     }

     .small-pics .row2 h6 {
         padding: 1rem .3rem;
         font-size: .7rem;
     }

     span.px-4.py-2.border {
         padding-left: 1rem !important;
         padding-right: 1rem !important;
     }

     .small-pics .row3 h6 {
         padding-left: .2rem;
     }

     .pic-group2 .text-black-50 {
         font-size: .55rem;
     }

     .pic-group2. p.text-black-50 {
         color: rgba(0, 0, 0, .8) !important;
     }


     .footer .footer-top input.special-width {
         width: 14rem;
     }

     .bottom-right-button {
         left: 81%;
     }


 }

 @media only screen and (width: 360px) {
     .footer .footer-top .text {
         font-size: 1.2rem;
     }

     .footer .footer-top input.special-width {
         width: 13rem;
     }
 }

 @media only screen and (width: 320px) {
     h6.p-2.p-md-4.p-lg-5.d-inline-block.border.rounded-circle.first-h6 {
         padding: .2rem !important;
     }

     .small-pics .row1 p {
         font-size: .6rem;
     }

     .small-pics .row2 h6 {
         padding: 1rem .1rem;
         font-size: .6rem;
     }

     .small-pics .row3 .col-5 h6 {
         padding-top: 3.2rem;
         font-size: .6rem;
     }

     h3.text-uppercase.px-3.d-inline-block {
         font-size: .7rem;
     }

     pic-group2 .text-black-50 {
         font-size: .45rem;
     }

     .footer .footer-top input.special-width {
         width: 10rem;
     }

     .footer-bottom .last-p {
         font-size: .64rem;
     }

     .bottom-right-button {
         left: 78%;
     }
 }
