/*start bgfixed-pic*/
.bgfixed-pic{
	background:url('../images/cover-img-1.jpg');
	background-size:cover;
	height: 24rem;
	margin-bottom: 7rem
}
.bgfixed-pic h3{
	font-weight:550;
	line-height:1.8
}
.bgfixed-pic a:first-of-type {
    color: var(--maincolor);
	background:none;
    text-decoration: none;
	padding-right:.5rem;
}
.bgfixed-pic a:last-of-type,
.bgfixed-pic a:last-of-type:hover {
	color:black;
	background:none;
	border: none;
	padding-left:.5rem;
}
/*end bgfixed-pic*/

/*start pic-group2*/
.pic-group2 .flex-column{
	margin-left:-15px;
	margin-right:-15px;
}
.ul-group-flex{
	    margin-left: 15px;
    margin-right: 15px;
}
.ul-group{
	 margin-bottom:.5rem;
}
.change-ul-color{
	color:var(--maincolor);
}

.ul-group h4,
.ul-group h6{
	margin-bottom:2rem;
}
.ul-group p{
	background:#fafafa;
}
.colors button:hover{
	cursor:pointer;
}
.span-group span{
	width:2.8rem;
	height:2.5rem;
	text-align:center;
}
.span-group span:hover{
	color:var(--maincolor);
	cursor:pointer;
}
ul{
	margin:0;
	margin-bottom:1rem;
	padding:0;
	padding-left:1.8rem;
	display:none;
	
}
ul li{
	padding-left:.2rem;
}
.pic-group2{
	margin-bottom:0;
}
.pic-group2 .rel-pos{
	margin-bottom:2rem;
}
.pic-group2 .rel-pos ul.shop-ul-one{
	bottom: 73px;
}
.pic-group2 .rel-pos ul.shop-ul-two {
    bottom: 86px;
}
.pic-group2 .rel-pos ul.shop-ul-three{
	bottom:98px;
}
.pic-group2 .rel-pos ul.shop-ul-four{
	bottom:104px;
	width:89%;
}
/*end pic-group2*/

/*start pagination*/
.pagination{
	padding-left: 17rem;
}
.pagination .page-link{
	color:#000;
	padding:.75rem 1rem;
}
.page-item.active .page-link {
    background-color: var(--maincolor);
    border-color: #dee2e6;
}
.pagination .page-link:hover{
	background:var(--maincolor);
}
/*end pagination*/

/*start media query md screen*/
@media only screen and (max-width: 991px) and (min-width: 768px){
	.navbar{
		padding-bottom:1.5rem;
	}
	.footer-bottom i.fab{
		padding-right: 1.5rem;
	}
	.footer-bottom .last{
		padding-right:.25rem
	}
	.bottom-right-button{
		left:92%;
	}
}
/*end media query md screen*/

/*start media query sm screen*/
@media only screen and (max-width: 767px) and (min-width: 576px){
.bgfixed-pic {
    margin-top: 1rem;
	}
	.pagination {
    padding-left: 7rem;
	}
	.footer-bottom i.fab{
		padding-right: 1.5rem;
	}
	.footer-bottom .last{
		padding-right:.25rem
	}
	.bottom-right-button{
		left:88%;
	}
}
/*end media query sm screen*/

/*start media query xs screen*/
@media only screen and (max-width: 575px){
   .bgfixed-pic {
		margin-top:0
    
	}
	.pagination {
    padding-left: 7rem;
	}
	.footer .footer-top input.special-width{
	width:16rem;
	}
	.footer-bottom{
		padding-left: 2rem;
	}
	.footer-bottom i{
		padding: .9rem;
	}
	.footer-bottom i.last{
		padding: .3rem;

	}
	.bottom-right-button{
		left:88%;
	}
}
/*end media query xs screen*/

