/*start bgfixed-pic*/
.bgfixed-pic {
    background: url('../images/cover-img-1.jpg');
    background-size: cover;
    height: 24rem;
    margin-bottom: 7rem
}

.bgfixed-pic h3 {
    font-weight: 550;
    line-height: 1.8
}

.bgfixed-pic a:first-of-type {
    color: var(--maincolor);
    background: none;
    text-decoration: none;
    padding-right: .5rem;
}

.bgfixed-pic a:last-of-type,
.bgfixed-pic a:last-of-type:hover {
    color: black;
    background: none;
    border: none;
    padding-left: .5rem;
}

/*end bgfixed-pic*/

/*start pic-group2*/
.pic-group2 .flex-column {
    margin-left: -15px;
    margin-right: -15px;
}

.ul-group-flex {
    margin-left: 15px;
    margin-right: 15px;
}

.ul-group {
    margin-bottom: .5rem;
}

.change-ul-color {
    color: var(--maincolor);
}

.ul-group h4,
.ul-group h6 {
    margin-bottom: 2rem;
}

h6.text-left.clearfix:hover {
    cursor: pointer;
}

.ul-group p.clearfix {
    background: #fafafa;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.ul-group p.clearfix {
    margin-bottom: 0;
}

.ul-group p.ddlist11,
.ul-group p.ddlist22 {
    background: #fafafa;
    display: none;
    padding-bottom: .3rem
}

.ul-group p.ddlist1:hover,
.ul-group p.ddlist11:hover,
.ul-group p.ddlist2:hover,
.ul-group p.ddlist22:hover {
    cursor: pointer
}

.ul-group p.ddlist11 span,
.ul-group p.ddlist22 span {
    display: block;
    padding: .5rem 0 0 1.5rem;
}

.ul-group p.ddlist11 span:hover {
    background: lightblue;
}

.ul-group p.ddlist22 span:hover {
    background: lightblue;
}

.colors button:hover {
    cursor: pointer;
}

.span-group span {
    width: 2.8rem;
    height: 2.5rem;
    text-align: center;
}

.span-group span:hover {
    color: var(--maincolor);
    cursor: pointer;
}

.second .ul-group ul {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    padding-left: 1.8rem;
    display: none;

}

ul li {
    padding-left: .2rem;
}

.pic-group2 {
    margin-bottom: 0;
}

.pic-group2 .rel-pos {
    margin-bottom: 2rem;
}

.pic-group2 .rel-pos ul.shop-ul-one {
    bottom: 73px;
}

.pic-group2 .rel-pos ul.shop-ul-two {
    bottom: 86px;

}

.pic-group2 .rel-pos ul.shop-ul-three {
    bottom: 98px;
}

.pic-group2 .rel-pos ul.shop-ul-four {
    bottom: 104px;
    width: 89%;
}

/*end pic-group2*/

/*start pagination*/
.pagination {
    padding-left: 17rem;
}

.pagination .page-link {
    color: #000;
    padding: .75rem 1rem;
}

.page-item.active .page-link {
    background-color: var(--maincolor);
    border-color: #dee2e6;
}

.pagination .page-link:hover {
    background: var(--maincolor);
}

/*.activecolor {
    background: #ffc300;
}

/*end pagination*/

/*start media query md screen*/
@media only screen and (min-width: 1201px) {
    .pic-group2 .rel-pos ul.shop-ul-four {
        bottom: 105px;
        width: 90%;
    }
}



@media only screen and (min-width: 992px) {

    .pic-group2 .rel-pos ul.shop-ul-one {
        bottom: 64px;
    }

    .pic-group2 .rel-pos ul.shop-ul-two {
        bottom: 77px;
    }

    .pic-group2 .rel-pos ul.shop-ul-three {
        bottom: 86px;
    }

    .pic-group2 .rel-pos ul.shop-ul-four {
        bottom: 88px;
        width: 88%;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .navbar {
        padding-bottom: 1.5rem;
    }

    .footer-bottom i.fab {
        padding-right: 1.5rem;
    }

    .footer-bottom .last {
        padding-right: .25rem
    }

    .bottom-right-button {
        left: 90%;
    }
}

/*end media query md screen*/

/*start media query sm screen*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .bgfixed-pic {
        margin-top: 1rem;
    }

    .pagination {
        padding-left: 7rem;
    }

    .footer-bottom i.fab {
        padding-right: 1.5rem;
    }

    .footer-bottom .last {
        padding-right: .25rem
    }

    .bottom-right-button {
        left: 88%;
    }
}

/*end media query sm screen*/

/*start media query xs screen*/
@media only screen and (max-width: 575px) {
    .bgfixed-pic {
        margin-top: 0
    }

    .pic-group2 .rel-pos:hover ul {
        display: none
    }

    .pagination {
        padding-left: 7rem;
    }

    form.form-inline {
        margin-left: 2.5rem;
    }

    .footer .footer-top input.special-width {
        width: 16rem;
    }

    .footer-bottom {
        padding-left: 2rem;
    }

    .footer-bottom i {
        padding: .9rem;
    }

    .footer-bottom i.last {
        padding: .3rem;

    }

    .bottom-right-button {
        left: 88%;
    }
}

@media only screen and (width: 414px) {
    .pagination {
        padding-left: 3rem;
    }

    .footer .footer-top input.special-width {
        width: 13rem;
    }

    .bottom-right-button {
        left: 83%;
    }
}

@media only screen and (width: 411px) {
    .pic-group2 .rel-pos:hover ul {
        display: none
    }

    .footer .footer-top input.special-width {
        width: 13rem;
    }

    .pagination {
        padding-left: 3rem;
    }

    .bottom-right-button {
        left: 83%;
    }
}




@media only screen and (width: 375px) {

    .pagination {
        padding-left: 3rem;
    }

    .footer .footer-top input.special-width {
        width: 13rem;
    }

    .footer-bottom .last-p {
        font-size: .7rem;
    }

    .bottom-right-button {
        left: 82%;
    }
}

@media only screen and (width: 360px) {
    form.form-inline {
        margin-left: 1.3rem;
    }

    .footer .footer-top input.special-width {
        margin-right: 0;
    }

    .footer .footer-top input.special-width {
        width: 10rem;
    }

    .bottom-right-button {
        left: 81%;
    }
}

@media only screen and (width: 320px) {
    .pagination {
        padding-left: .8rem;
    }

    .footer .footer-top .text {
        font-size: 1rem;
    }

    .footer .footer-top input.special-width {
        width: 10rem;
    }

    .footer-bottom p {
        font-size: .8rem;
    }

    .bottom-right-button {
        left: 79%;
    }

    .footer-bottom .last-p {
        font-size: .63rem;
    }
}





/*end media query xs screen*/
